<h4 class="title">アカウント編集</h4>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= bootstrap_devise_error_messages! %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true, autocomplete: 'name', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: 'new-password', class: 'form-control' %>

    <small class="form-text text-muted"><%= t('.leave_blank_if_you_don_t_want_to_change_it') %></small>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: 'new-password', class: 'form-control'  %>
  </div>

  <div class="form-group">
    <%= f.label :current_password %>
    <%= f.password_field :current_password, autocomplete: 'current-password', class: 'form-control' %>

    <small class="form-text text-muted"><%= t('.we_need_your_current_password_to_confirm_your_changes') %></small>
  </div>

  <div class="form-group">
    <%= f.label :objective %>
    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalCenter">?</button>
    <%= f.text_area :objective, autofocus: true, class: 'form-control', rows: "3" %>
  </div>
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">目標設定のコツ！</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>毎日エクササイズを積み上げて、達成したい目標をたてましょう！</p>
          <p>ポイントは「✖高すぎる目標」ではなく、「○最低限の目標」をたてること</p>
          <p>例）</p>
          <p>✖「毎日ランニング10km」、「毎日、腹筋・背筋・腕立て100回」</p>
          <p>○「毎日５分スクワットをする」、「毎日、筋トレを10分する」</p>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :profile_image %><br/>
    <%= image_tag @user.profile_image.url if @user.profile_image? %>
    <%= f.file_field :profile_image, accept: "image/png,image/jpeg,image/gif" %>
  </div>

  <div class="form-group row justify-content-center">
    <%= f.submit t('.update'), class: 'btn btn-outline-dark btn-lg rounded-pill'%>
    <%= link_to t('.cancel_my_account'), registration_path(resource_name), data: {confirm: t('.are_you_sure')}, method: :delete, class: 'btn btn-outline-danger btn-lg rounded-pill' %>
  </div>
<% end %>