<div class="container">
  <div>
    <div class="card" style="width: 100%;">
      <div class="card-body">
        <div class="row justify-content-between">
          <% if article.user.profile_image? %>
            <%= image_tag article.user.profile_image.url, size: "70x60", class: "image_icons" %>
          <% else %>
            <%= image_tag ("default.png"), size: "70x60" %>
          <% end %>
          <h5 class="card-name"><%=link_to "#{article.user.name}", user_path(article.user.id) %></h5>
          <p class="card-text-day"><%= article.day %></p>
          <div class="dropdown drop-hover">
            <i class="material-icons">more_vert</i>
            <ul class="dropdown-menu">
              <li class="dropright drop-hover">
              <a class="dropdown-item"><%= link_to "詳細", article %></a>
              <% if current_user.id == article.user_id %>
                <a class="dropdown-item"><%= link_to "編集", edit_article_path(article) %></a>
                <a class="dropdown-item"><%= link_to "削除", article_path(article), method: :delete, data: { confirm: "削除しますか？" } %></a>
              <% end %>
              </li>
            </ul>
          </div>
        </div>
        <div class="row justify-content-start">
          <p>エクササイズ：<%= article.exercise.name %></p>
          <p><%= article.minutes %>分</p>
        </div>
        <div class="row justify-content-start">
          <p><%= article.body %></p>
        </div>
        <div class="row form-inline justify-content-end">
          <p>
            <%= link_to article, class: 'nav-link' do %>
              <i class="material-icons">chat_bubble_outline</i>
            <% end %>
          </p>
          <p id="article-<%= article.id %>">
            <% if article.liked_by?(current_user) %>
              <%= render "like", post: article %>
            <% else %>
              <%= render "dislike", post: article %>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>