<div class="container">
<div class="row">
<div class="col-12">
<div class="card" style="height: 20rem;">
<div class="card-body">
<div class="row">
<% if article.user.profile_image? %>
<%= image_tag article.user.profile_image.url, size: "90x80", class: "image_icons" %>
<% else %>
<%= image_tag ("default.png"), size: "90x80" %>
<% end %>
<h5 class="card-name"><%= article.user.name %></h5>
<p class="card-text"><%= article.day %></p>
</div>
<div class="row">
<p class="card-text">エクササイズ <%= article.exercise.name %></p>
<p><%= article.minutes %>分</p>
</div>
<div class="row">
<p class="card-text"><%= article.body %></p>
</div>
<div class="row">
<p id="article-<%= article.id %>">
<% if article.liked_by?(current_user) %>
<%= render "like", post: article %>
<% else %>
<%= render "dislike", post: article %>
<% end %>
</p>
</div>
</div>
</div>
</div>
</div>
</div>
