<%= form_with model: @article, local: true do |form| %>
  <div>
    <%= form.label :day, "日付" %>
    <%= form.date_field :day %>
  </div>
  <div>
    <%= form.label :exercise_id, "エクササイズ" %>
    <%= form.collection_select :exercise_id, Exercise.all, :id, :name %>
    <%= form.label :minutes, "時間（分）" %>
    <%= form.number_field :minutes %>
  </div>
  <div>
    <%= form.label :body, "感想" %>
    <%= form.text_area :body %>
  </div>
  <div>
    <%= form.submit button_value %>
  </div>
<% end %>