<%= form_with model: @article, local: true do |form| %>
  <div>
    <%= form.label :day %>
    <%= form.date_field :day %>
  </div>
  <div>
    <%= form.label :exercise_id %>
    <%= form.collection_select :exercise_id, Exercise.all, :id, :name %>
    <%= form.number_field :minutes, min: "0" %>
    <%= form.label :minutes %>
  </div>
  <div>
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>
  <div>
    <%= form.submit button_value %>
  </div>
<% end %>