<div class="contents-title text-center">
  <h4 class="title">みんなのTumieku</h4>
  <div class="row">
    <div class="col-sm-9">
      <%= render @articles %>
      <%= paginate @articles %>
    </div>
    <div class="col-sm-3">
      <p><i class="material-icons">military_tech</i>ランキング</p>
      <% @all_ranks.each.with_index(1) do |rank, i| %>
      <p>
        <% case i when 1 %>
          <i class="fas fa-crown" style='color: gold;'></i>
        <% when 2 %>
          <i class="fas fa-crown" style='color: silver;'></i>
        <% when 3 %>
          <i class="fas fa-crown" style='color: orange;'></i>
        <% end %>
        第<%= i %>位
      </p>
      <p class="rank_status">
        Lv.<%= rank[2] %><br>
        <%= link_to rank[1], user_path(rank[0]) %>
      </p>
      <% end %>
    </div>
  </div>
</div>