<h1>投稿詳細</h1>
<p>日付 <%= @article.day %></p>
<p>エクササイズ <%= @article.exercise.name %></p>
<p><%= @article.minutes %>分</p>
<p>感想 <%= @article.body %></p>
<p>
  <% if @article.liked_by?(current_user) %>
    <span class="material-icons">
      <%= render "like", article: @article %>
    </span>
  <% else %>
    <span class="material-icons">
      <%= render "dislike", article: @article %>
    </span>
  <% end %>
</p>
<p>
  <% if current_user.id == @article.user_id %>
    <%= link_to "編集", edit_article_path(@article) %>
    <%= link_to "削除", article_path(@article), method: :delete, data: { confirm: "削除しますか？" } %>
  <% end %>
</p>
<p><%= link_to "みんなのTmiekuへ", articles_path %></p>