<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<p>MyPage <%= @user.name %></p>
<p>目標 「<%= @user.objective %>」</p>
<% if @user.profile_image? %>
  <%= image_tag @user.profile_image.url %>
<% else %>
  <%= image_tag ("default.png") %>
<% end %>
<p><%=link_to "フォロー中", follows_user_path(@user.id) %>
<%= @user.followings.count %></p>
<p><%=link_to "フォロワー", followers_user_path(@user.id) %>
<%= @user.followers.count %></p>
<%= render "relationships/new" %>
<%= link_to '編集', edit_user_registration_path, class: 'nav-link' %>
<%= link_to "エクササイズ登録", new_exercise_path %>
<div class="contents row">
  <p>あなたの投稿一覧</p>
  <% @articles.each do |article| %>
    <p><%= article.day %></p>
    <p>エクササイズ <%= article.exercise.name %></p>
    <p><%= article.minutes %>分</p>
    <p>感想 <%= article.body %></p>
  <% end %>
  <%= paginate @articles %>
</div>