<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<p>MyPage <%= @user.name %></p>
<p>目標 「<%= @user.objective %>」</p>
<% if @user.profile_image? %>
  <%= image_tag @user.profile_image.url %>
<% else %>
  <%= image_tag("default.png") %>
<% end %>
<%= link_to '編集', edit_user_registration_path, class: 'nav-link' %>
<%= link_to "エクササイズ登録", new_exercise_path %>