<h1>エクササイズ登録</h1>
<%= form_with model: @exercise, local: true do |form| %>
  <div>
    <%= form.label :name, "種類" %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.submit "登録" %>
  </div>
<% end %>
<%= link_to "もどる", user_path(id: current_user.id) %>