<header>
  <nav class="navbar navbar-expand navbar-light">
    <%= link_to "Tumieku", root_path, class: 'navbar-brand' %>
    <div id="Navber">
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to 'ホーム', root_path, class: 'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to 'マイページ', user_path(id: current_user.id), class: 'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to "Tumieku", new_artice_path, class: 'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to 'みんなのTumieku', artices_path, class: 'nav-link' %>
          </li>
      <% else %>
          <li class="nav-item active">
            <%= link_to "新規登録", new_user_registration_path, class: 'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to "ログイン", new_user_session_path, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>