<header>
  <nav class="navbar navbar-expand-md navbar-light">
    <%= link_to "Tumieku", root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to 'ホーム', root_path, class: 'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to 'マイページ', user_path(id: current_user.id), class: 'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to "Tumieku", new_article_path, class: 'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to 'みんなのTumieku', articles_path, class: 'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link' %>
          </li>
      <% else %>
          <li class="nav-item active">
            <%= link_to "新規登録", new_user_registration_path, class: 'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to "ログイン", new_user_session_path, class: 'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, method: :post, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>